{% extends "base/base.html" %} {% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/porColor.css"> {% endblock %} {%block title_body%} AGRUPAR POR COLOR {% endblock %} {% block content %}
<div id="droppeable">
    <div class="triangle4 bottom-red"> </div>
    <div class="triangle4 bottom-blue"> </div>
    <div class="triangle4 bottom-yellow"> </div>
</div>

<div id="draggeable">
    <div class="count triangle3 bottom-red"> </div>
    <div class="count triangle3 bottom-blue"> </div>
    <div class="count triangle3 bottom-yellow"> </div>
</div>
{% endblock %} {% block js %}

<script src="{{ STATIC_URL }}js/porColor.js"></script> {% endblock %}