{% extends "base/estadisticaBase.html" %} {%block title_body%} Estadisticas {% endblock %} {% block content %}

<table class="columns">
    <tr>
        <td>
            <div id="chart_movimiento_div" style="border: 1px solid #ccc"></div>
        </td>
        <td>
            <div id="chart_error_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>
</table>

{% endblock %} {% block js %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ STATIC_URL }}js/estadisticasEdad.js"></script>

{% endblock %}